@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "./Header.scss";
@import "./contractInfo.scss";
@import "./modal.scss";
@import "./settings.scss";
@import "./hashes.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
