.settings {
  margin: 5rem auto;
  width: 80%;
  &__container {
    &--item {
      margin: 3rem;
      &__desc {
        font-size: 2rem;
      }
      &__input {
        margin-top: 1rem;
        input {
          font-size: 1.5rem;
          padding: 0.5rem 0.5rem;
          margin-right: 1rem;
          width: 50%;
        }
        button {
          font-size: 1.5rem;
          padding: 0.5rem 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
